// ==========================================================================
// Form Input File
// ==========================================================================
$height: 25px;

.nosui-form-file {
	background: green;
	color: #f1f1f1;
	height: $height;
	overflow: hidden;
	width: 400px;
	@include user-select(none);
	position: relative;
}

.nosui-form-file--disabled {
	background: #999;
}

	.nosui-form-file__placeholder {
		line-height: $height;
		position: absolute;
		left: 0;
		top: 0;
	}

	.nosui-form-file__button {
		line-height: $height;
		position: absolute;
		right: 0;
		top: 0;
	}

	.nosui-form-file__element {
		font-size: 100px;
		@include opacity(0);
		width: 100%;
	}