// ==========================================================================
// Form Input File
// ==========================================================================
$height: 25px;

.nosui-form-file {
	background-image: url(../img/form-repeat/select.png);
	@include background-image(linear-gradient(bottom, #e5e5e5, #f9f9f9));
	background-repeat: repeat;
	border: 1px solid #ababab;
	@include border-radius(2px);
	color: #444;
	height: $height;
	overflow: hidden;
	width: 400px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	position: relative;

	&:hover {
		background-image: url(../img/form-repeat/select-hovered.png);
		@include background-image(linear-gradient(bottom, #dfdfdf, #f1f1f1));
	}
}

.nosui-form-file--disabled {
	@include opacity(0.5);
}

	.nosui-form-file__placeholder {
		line-height: $height;
		position: absolute;
		left: 10px;
		top: 0;
	}

	.nosui-form-file__button {
		border-left: 1px solid #dbdbdb;
		cursor: default;
		height: $height;
		line-height: $height;
		padding: 0 10px;
		position: absolute;
		right: 0;
		top: 0;
	}

	.nosui-form-file__element {
		@include opacity(0);

		// Forces the browse button of the
		// input file to cover the faux area
		float: right;
		font-size: 100px;
	}