// ==========================================================================
// Form Input File
// ==========================================================================

.nosui-form-file { 
	background: green; 
	color: #f1f1f1;
	width: 200px; 
	position: relative; 
}

.nosui-form-file--disabled { 
	background: #999; 
}

	.nosui-form-file__placeholder { 
		line-height: 25px;
		position: absolute; 
		left: 0; 
		top: 0; 
	}

	.nosui-form-file__element { 
		@include opacity(0); 
	}