// ==========================================================================
// Form Input Checkbox
// ==========================================================================

.plusui-form-checkbox {
	background: red;
	@include inline-block();
	height: 10px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	width: 10px;
}

// Various states
// ==========================================================================

// Checked
.plusui-form-checkbox--checked {
	background: green;
}

// Disabled
.plusui-form-checkbox--disabled {
	background: #999;
}

// Checked and disabled
.plusui-form-checkbox--checked.plusui-form-checkbox--disabled {
	background: #333;
}

.plusui-form-checkbox--mousedown {
	background: purple;
}