// ==========================================================================
// Form Select
//
// This contains the styles for both the default select 
// and the version with the custom dropdown menu
// ==========================================================================

.nosui-form-select { 
	background: green; 
	color: #f1f1f1; 
	height: 20px; 
	cursor: default; 
	@include user-select(none);
	width: 200px; 
	position: relative; 
}

	.nosui-form-select--selected { 
		height: 20px; 
	}

	.nosui-form-select__list { 
		background: purple; 
		clear: both; 
		margin: 0; 
		padding: 0; 
		width: 100%; 
		position: absolute; 
		left: 0; 
		top: 20px; 
	}

		.nosui-form-select__item:hover { 
			background: green; 
		}

	.nosui-form-select__placeholder {
		float: left;
	}

	.nosui-form-select__dropdown-button { 
		background: red; 
		float: right; 
		height: 20px; 
		width: 20px; 
		position: absolute; 
		right: 0; 
		top: 0; 
	}

	.nosui-form-select--active { 
		z-index: 1; 
	}

	.nosui-form-select--disabled { 
		background: #999; 
	}

@import "form-select-alt";