// ==========================================================================
// Form Input Checkbox
// ==========================================================================

.nosui-form-checkbox { 
	@include form-sprite(checkbox);
	height: form-sprite-height(checkbox);
	width: form-sprite-width(checkbox);

	@include inline-block(); 
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

// Various states
// ==========================================================================

// Hovered
.nosui-form-checkbox:hover {
	@include form-sprite(checkbox-hovered);

	// Hovered + Pressed / Mousedown
	&.nosui-form-checkbox--mousedown {
		@include form-sprite(checkbox-pressed);

		// Hovered + pressed + checked
		&.nosui-form-checkbox--checked {
			@include form-sprite(checkbox-checked-pressed);
		}
	}
}

// Disabled
.nosui-form-checkbox--disabled { 
	@include opacity(0.5);
}

// Checked
.nosui-form-checkbox--checked { 
	@include form-sprite(checkbox-checked);

	// Checked and pressed
	&.nosui-form-checkbox--mousedown {
		@include form-sprite(checkbox-checked-pressed);
	}

	// Checked and hover
	&.nosui-form-checkbox:hover {
		@include form-sprite(checkbox-checked-hovered);
	}
}
