// ==========================================================================
// Form Input Text
// ==========================================================================

.plusui-form-text {
	border: 1px solid #ababab;
	@include border-radius(2px);
	color: #444;
	padding: 3px 8px;
}